/* Button.css */
.button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    color: grey;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.button-indigo {
    background-color: #4f46e5;
}

.button-indigo:hover {
    background-color: #4338ca;
}

.button-green {
    background-color: #10b981;
}

.button-green:hover {
    background-color: #059669;
}
